<div fxLayout="row" fxLayoutAlign="center center">
  <mat-button-toggle-group class="course-buttons" name="courses" aria-label="Courses" [(value)]="selectedValue">
      <mat-button-toggle (change)="selectionChanged($event)" [value]="1">Drinks</mat-button-toggle>
      <mat-button-toggle (change)="selectionChanged($event)" [value]="2">Savory</mat-button-toggle>
      <mat-button-toggle (change)="selectionChanged($event)" [value]="3">Desserts</mat-button-toggle>
    </mat-button-toggle-group>
</div>
<div class="grid-list-container">
  <mat-grid-list #recipeTiles cols="3" rowHeight="1:1">
    <mat-grid-tile (click)="viewRecipe(recipe)" [ngClass]="{'selected': typeSelected(recipe.type)}" *ngFor="let recipe of recipes">
      <img src="" style="height: 100%; width: 100%" alt="../../assets/cocktail.jpg">
    </mat-grid-tile>
  </mat-grid-list>
</div>
