:host(app-travel) {
  mat-grid-list {
    margin: 10vh 15vw 0px 15vw;
  }

   mat-grid-tile {
     cursor: pointer;
     background-color: white;
     border-radius: 50%;
     border: 1px solid black;
     overflow: hidden;
   }

   mat-grid-tile:hover {
     background-color: rgba(0, 0, 0, .1);
     .grid-content {
      display: block;
    }
   }

   .grid-content {
     display: none;
   }
}
