<mat-grid-list cols="3" rowHeight="1:1">
  <mat-grid-tile>
    <div class="grid-content">
      Travel Location
    </div>
  </mat-grid-tile>
  <mat-grid-tile>
    <div class="grid-content">
      Travel Location
    </div>
  </mat-grid-tile>
  <mat-grid-tile>
    <div class="grid-content">
      Travel Location
    </div>
  </mat-grid-tile>
  <mat-grid-tile>
    <div class="grid-content">
      Travel Location
    </div>
  </mat-grid-tile>
  <mat-grid-tile>
    <div class="grid-content">
      Travel Location
    </div>
  </mat-grid-tile>
  <mat-grid-tile>
    <div class="grid-content">
      Travel Location
    </div>
  </mat-grid-tile>
</mat-grid-list>
